.container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

form {
  padding: 1rem;
}

.button {
  margin-top: 1rem;
  background-color: rgb(35, 35, 54);
  color: white;
  text-align: center;
  cursor: pointer;
}
